@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.heartbeat-button-enabled {
  animation: heartbeat 5s infinite;
}

.heartbeat-button-disabled:disabled {
  color: #fff;
}
